<nz-card id="konva-toolbar">
  <div class="toolbar-button-container">
    <button nz-button (click)="saveState()">Save</button>

    <nz-radio-group [(ngModel)]="selectedLayerIndex"
                    (ngModelChange)="changeLayer($event)">
      <label nz-radio-button [nzValue]="0">1</label>
      <label nz-radio-button [nzValue]="1">2</label>
    </nz-radio-group>

    <ng-template #toolbarButtonTemplate
                 let-icon="buttonIcon"
                 let-mode="mode">
      <button nz-button
              [nzType]="selectedMode === mode ? 'primary' : 'default'"
              (click)="selectedMode = mode">
        <span nz-icon [nzType]="icon"></span>
      </button>
    </ng-template>
    <ng-container *ngTemplateOutlet="toolbarButtonTemplate; context: { buttonIcon: 'drag', mode: KonvaMode.DRAG }"></ng-container>
    <ng-container *ngTemplateOutlet="toolbarButtonTemplate; context: { buttonIcon: 'select', mode: KonvaMode.SELECT }"></ng-container>
    <ng-container *ngTemplateOutlet="toolbarButtonTemplate; context: { buttonIcon: 'home', mode: KonvaMode.HOUSE }"></ng-container>
  </div>
</nz-card>


<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="deleteShape()">Delete</li>
    <li nz-menu-item (click)="goToOrigo()">To origo</li>
    <li nz-menu-item (click)="makeItRed(rightClickedShape)">Make it red</li>
  </ul>
</nz-dropdown-menu>

<div id="konva-container"></div>
