
<!--
*ngFor="let character of characters"
<ng-container>
-->

<input #filterInput nz-input placeholder="Filter characters...">

@for (character of characters; track character.id) {
  <!-- character.image ? coverTemplate : undefined -->
  <nz-card style="width:300px;"
           [nzCover]="coverTemplate">
    <nz-card-meta [nzTitle]="character.name"></nz-card-meta>
  </nz-card>

  <ng-template #coverTemplate>
    <img *ngIf="character.image"
         [alt]="character.name"
         [src]="character.image"/>
  </ng-template>
}
